name: CI

on:
  pull_request:
    branches: [ "master" ]
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24.0'
          cache: true

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
