name: Deploy to GCP VM

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy via SSH
        run: |
          gcloud compute ssh go-url-shortener \
            --zone="us-central1-a" \
            --tunnel-through-iap \
            --command="
              if [ ! -d goprl ]; then
                git clone https://github.com/${{ github.repository }} goprl
              fi && \
              cd goprl && \
              git pull && \
              export PUBLIC_IP=\$(curl -H 'Metadata-Flavor: Google' http://metadata.google.internal/computeMetadata/v1/instance/network-interfaces/0/access-configs/0/external-ip) && \
              sudo -E docker compose -f docker-compose.prod.yaml up -d --build
            "