name: Deploy to GCP VM

on:
  push:
    branches:
      - master

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
  build:
    needs: ci
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build image
        run: |
          docker build -t ghcr.io/${{ github.repository }}:latest .

      - name: Push image
        run: |
          docker push ghcr.io/${{ github.repository }}:latest
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy via SSH
        run: |
          gcloud compute ssh ${{vars.GCP_USER}}@go-url-shortener \
            --zone="${{vars.GCP_ZONE}}" \
            --tunnel-through-iap \
            --command="
              set -e

              if [ ! -d goprl ]; then
                git clone https://github.com/${{ github.repository }} goprl
              fi

              cd goprl
              git pull

              DNS_NAME=${{vars.DNS_NAME}}
              
              sudo docker compose -f docker-compose.prod.yaml pull
              sudo docker compose -f docker-compose.prod.yaml up -d
            "